.home-page {
  background: url('/img/fondos/home.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 40px 20px;
  color: white;
  overflow: hidden;
  padding: 0;
}

.logout-btn:hover {
  background: linear-gradient(90deg, #b30000, #660000);
  transform: scale(1.05);
}

/* SideBar */
#sidebar {
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  box-shadow: 2px 0 10px rgba(0,0,0,0.7);
}

#sidebar .nav-link {
  font-weight: bold;
  color: #ffffff;
  transition: background 0.3s, padding-left 0.3s;
}

#sidebar .nav-link:hover {
  background-color: #ff4d4d;
  border-radius: 8px;
  padding-left: 20px;
  color: #fff;
}

#sidebar h4 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff4d4d;
}

.logout-btn {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, #ff0000, #8b0000);
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border: none;
}

/* Selección */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.card-body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}

.card-game {
  flex: calc(20% - 1rem);
  max-width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  width: 300px;
  height: 380px;
  background-color: transparent !important;
  border: none !important;
}

.card-game img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  background-color: transparent;
  padding: 5px;
}

.card-game:hover {
  transform: scale(1.07);
  box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.3);
}

.card-game.selected {
  border-radius: 10px;
  outline: 3px solid red;
  box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.8);
}

/* Cartas del Home */
.home-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  width: 100%;
}

.home-card {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 300px;
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.home-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 0, 0, 0.4);
  background-color: rgba(50, 0, 0, 0.7);
}

.home-card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff4d4d;
}

.home-card-text {
  font-size: 0.95rem;
  margin-bottom: 0;
  color: #fff;
}