/* Author: Valery Escobar
 * Date: 11/04/2025
 */
.message-error {
  color: red;
}
.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(223, 227, 230, 0.73);
  z-index: 2000;
  cursor: progress;
  display: none;
}

.card-game {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.card-game:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.3);
}

.card-game.selected {
  box-shadow: 0 0 12px 4px red;
  border: 2px solid red;
}

.card-game img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.btn-next {
  margin: 2rem auto;
  display: block;
}